---
layout: default
---

{% capture about %}

Knižky, ktoré tu nájdete, nie sú len tak hocijaké: sú to knižky, ktoré ich majitelia považujú za príliš dobré na to, aby sa na ne prášilo na poličke. Máme ich tak radi, že chceme, aby ste si ich mohli prečítať, aj za cenu obetovania sa :-) Buďte k nim preto milí a ohľaduplní. A tiež: prečítajte si ich, stoja za to ;-)

Pravidlá:

1. knižky sa tešia úcte -- narábajte s nimi slušne!
2. knižky sa neodnášajú z miestnosti bez súhlasu majiteľa (ak si chcete knižku požičať domov, pozrite sa, koho je a spýtajte sa)
3. Akékoľvek návrhy, komentáre, chválu, výčitky a všetko sa nebojte povedať (napríklad [nižšie](#comments), alebo [mne](mailto:kamila@ksp.sk)).

{% endcapture %}

<div id="bookslist-wrapper">

  <p>V <b>Cauchyho klubovni</b> čakajú samé dobré knižky…<br />od vás pre vás!</p>

  <div id="about">{{ about | markdownify }}</div>

  <ul id="bookslist">
    {% for book in site.data.books %}
      <li>
        <a class="book" id="book-{{book[0]}}" href="#{{book[0]}}"
            data-cover="covers/{{book[0]}}.jpg"
            data-title="{{book[1].title}}"
            data-author="{{book[1].author}}"
            data-url="{{book[1].url}}"
            data-owner="{{book[1].owner}}"
            data-why="{{book[1].why}}">
          <img src="covers/{{book[0]}}.jpg" />
          <h2>{{book[1].title}}</h2>
        </a>
      </li>
    {% endfor %}
  </ul>

  <!-- used as a very crude template, I'm a terrible person -->
  <div id="detail" style="opacity: 0; display: none">
    <div id="detail-content">
      <img id="detail-cover" src="" />
      <h2  id="detail-title"></h2>
      <h3  id="detail-author"></h3>
      <a   id="detail-url" href=""></a>
      <p>majiteľ: <a id="detail-owner" href=""></a></p>
      <p id="detail-why"></p>
      <a id="close-detail" href="#" onclick="history.pushState({},'','#'); update_detail_view(); return false">&times;</a>
    </div>
  </div>
</div>

<div id="comments">{% include disqus.html %}</div>

<script src="owners.js"></script><!-- the owner data is in here, I'm a terrible person -->
<script src="index.js"></script>
