---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Matfyzia Knižnička</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/style.css">
  </head>

  <body>

    <header>
      <div>
        <img src="/knizky.png" />
        <h1><span class="bg">Matfyzia</span><br />Knižnička</h1>
      </div>
    </header>

    <div id="content">
      {{ content }}
    </div>

    <footer>
      <a href="/about">O Knižničke</a> | <a href="https://github.com/AnotherKamila/knizky">repozitár stránky na GitHub-e</a>
    </footer>
  </body>
</html>
